body{
margin:0;
background:radial-gradient(circle,#001f3f,#000);
height:100vh;
overflow:hidden;
font-family:Arial;
}
#startBtn{
position:fixed;
bottom:20px;
left:50%;
transform:translateX(-50%);
padding:15px 30px;
font-size:18px;
background:gold;
border:none;
border-radius:8px;
cursor:pointer;
z-index:100;
}
#endMessage{
position:fixed;
top:10%;
width:100%;
text-align:center;
font-size:48px;
color:gold;
opacity:0;
text-shadow:0 0 15px red,0 0 25px green;
}
